<!DOCTYPE html>
<html>
<head>
    <title>campus</title>
</head>
<body>
    <p>These are the campuses:</p>
        <ul>
            <% @campus.each do |campus| %>
                <li><%= campus['name'] %></li>
            <% end %>
        </ul>
        <p>Enter a new campus here: </p>
        <form action="/campus" method="POST">
            <input type="text" name="campus" placeholder="Campus">
            <button type="submit">Save</button>
        </form>
</body>
</html>
