
body{
  max-width: 960px;
  margin: 0 auto;
}

main{
  width: 70%;
  display: inline-block;
}


blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}
#external-links{
  width: 25%;
  min-width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.2em;
  }
}

  @media screen and (max-width: 500px) {
   #pinterest-link { 
    display: none;
  }
}
  
  @media screen and (min-width: 500px) {
   #icon { 
    display: none;
  }
}

